 
@use 'components/color';


$primary: color.$accent-primary;
$secondary:color.$accent-secondary;
$dark :color.$dark-bg;
$success:color.$primary-bg;
$danger:color.$secondary-bg;





// IMPORT BOOTSTRAP
@import "../node_modules/bootstrap/scss/bootstrap.scss"