// IMPORT BOOTSTRAP WITH CUSTOMS COLORS
@use "custom";

// IMPORT COMPONENTS
@use 'components/color';
@use 'components/typography';

// IMPORT SECTIONS

@use 'sections/nav-bar';
@use 'sections/hero';
@use 'sections/intro';
@use 'sections/service';
@use 'sections/appointment';
@use 'sections/artist';
@use 'sections/gallery';
@use 'sections/price';
@use 'sections/footer';

body {
    font-family:typography.$font-primary;
    line-height: 1.8;
    font-weight: 400;
    background-color: color.$primary-bg;
}