@use '../components/mixin';

.service {
    max-width: 1100px;

    @include mixin.headings;

    &__name {
        font-weight: 700;
    }

    &__img {
        height: 86px;
        width: 62px;
    }
}