@use '../components/typography';
@use '../components/color';
 
@mixin headings {
    &__sub-heading{
        font-size: 12px;
        color: color.$accent-primary;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__heading{
        font-family: typography.$font-secondary;
        text-transform: uppercase;
        font-weight: 700;
        font-size: clamp(1.75rem, 1.033rem + 3.0189vw, 3.75rem);
    }

    &__sub-title{
        color:#212529bf
    }
}

@mixin hero {
    height: 100vh;
    width: 100%;
    background-color: #00000088;
    background-repeat: no-repeat;
    background-position:top center;
    background-size: cover;
    background-blend-mode:darken;
    background-attachment: fixed;
}